.centered
{
    text-align: center;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}

#github
{
    color: #ff0000;
}

#wordpress
{
    color: #0000ff;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}